<h1>Editing todo</h1>
<%= form_with(model: @todo) do |form| %>
  <div><%= form.label :content %></div>
  <div><%= form.text_area :content %></div>
  <div><%= form.submit %></div>
<% end %>
<%= link_to "Back to todos", todos_path %>