<!-- index.html.erb -->

<h1 class="mb-4">Todos</h1>

<%= link_to "New Todo", new_todo_path, class: "btn btn-primary mb-3" %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.title %></td>
          <td><%= todo.completed ? "Yes" : "No" %></td>
          <td>
            <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-warning btn-sm me-2" %>
            <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
